---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Profile from  "../components/Profile.jsx";
import Exemple from  "../components/Profile.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
 
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
 
    <style>
      ul li a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        opacity: 1;
        transition: opacity 0.3s;
      }

      ul li.active a {
        opacity: 0.5;
      }
    </style></head
  >

  <body>
    <MainLayout>
      <div class="flex">
        <div
          class="fixed top-h-20 left-80 z-40 h-screen min-w-20 shrink-0 items-center border-r border-gray-200 bg-white px-4"
        >
          <div class="grid gap-y-4 justify-items-center py-4">
            <h2 class="text-sm text-center leading-4" style="color:#8A89A2">
              Selected <br />projects
            </h2>
            <nav>
              <ul id="menu" class="grid gap-y-4">
                <li>
                  <a href="#section1"
                    ><img src="https://placehold.co/55x55/png" />
                  </a>
                </li>
                <li>
                  <a href="#section2"
                    ><img src="https://placehold.co/55x55/png" />
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <section class="container">
		 

  
			 
          <div>
            <div
              class="sticky z-20 flex h-20 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 sm:gap-x-6 sm:px-6 lg:px-8"
              id="section1"
            >
              <div class="pl-20 pr-6 flex gap-x-2 items-center">
                <h1 class="text-2xl font-semibold mb-0">Zemium</h1><h2
                  class="text-2xl text-gray-500 mb-0 instrument-serif-regular-italic"
                >
				 • Brand Identity, Web Design
                </h2>
              </div>
            </div>
            <section class="w-full pl-28 pr-6 pt-6 gap-y-4 grid">
              <img
                class="w-full rounded-none"
                src="https://placehold.co/950x600/jpg"
              />
              <img
                class="w-full rounded-none"
                src="https://placehold.co/950x600/jpg"
              />
              <img
                class="w-full rounded-none"
                src="https://placehold.co/950x600/jpg"
              />
            </section>
          </div>
          <div>
            <div
              class="sticky top-20 z-20 flex h-20 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 sm:gap-x-6 sm:px-6 lg:px-8"
              id="section2"
            >
              <div class="pl-20 pr-6 flex gap-x-2 items-center">
                <h1 class="text-2xl font-semibold mb-0">📒🎟️ Folklore</h1><h2
                  class="text-2xl text-gray-500 mb-0"
                >
                  Astronaut!
                </h2>
              </div>
            </div>
            <section class="w-full pl-28 pr-6 pt-6 gap-y-4 grid">
              <img
                class="w-full rounded-none"
                src="https://placehold.co/950x600/jpg"
              />
              <img
                class="w-full rounded-none"
                src="https://placehold.co/950x600/jpg"
              />
              <img
                class="w-full rounded-none"
                src="https://placehold.co/950x600/jpg"
              />
            </section>
          </div>
        </section>
	
      </div></MainLayout
    ><div class="flex pt-6 pb-4 px-8 mt-8 justify-between text-gray-500 bg-white relative z-50 lg:ml-80  border-t border-gray-200  ">	<p >© Copyright 2024. All rights Reserved.</p><p >Designed & Developed by Yazid Talbi, with 🫖</p></div>
    <script>// Smooth scroll on click
		document.querySelectorAll('#menu a').forEach(link => {
			link.addEventListener('click', function(e) {
				e.preventDefault();
				const target = document.querySelector(this.getAttribute('href'));
				target.scrollIntoView({
					behavior: 'smooth'
				});
			});
		});
		
		// Change active class based on section in view
		window.addEventListener('scroll', () => {
			const sections = document.querySelectorAll('section');
			const menuItems = document.querySelectorAll('#menu li');
		
			let index = sections.length;
		
			while(--index && window.scrollY + 100 < sections[index].offsetTop) {}
		
			// Remove 'active' class from all menu items
			menuItems.forEach((item) => item.classList.remove('active'));
		
			// Add 'active' class to the current menu item
			menuItems[index].classList.add('active');
		});
		</script>
		  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
