---
import Header from "../components/Header.astro";
import Exemple from "../components/Profile.astro";
---

<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
--><!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div>
  <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
  <div class="relative z-50 lg:hidden" role="dialog" aria-modal="true">
    <!--
        Off-canvas menu backdrop, show/hide based on off-canvas menu state.
  
        Entering: "transition-opacity ease-linear duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->
    <div class="fixed inset-0 bg-gray-900/80" aria-hidden="true"></div>

    <div class="fixed inset-0 flex">
      <!--
          Off-canvas menu, show/hide based on off-canvas menu state.
  
          Entering: "transition ease-in-out duration-300 transform"
            From: "-translate-x-full"
            To: "translate-x-0"
          Leaving: "transition ease-in-out duration-300 transform"
            From: "translate-x-0"
            To: "-translate-x-full"
        -->
      <div class="relative mr-16 flex w-full max-w-xs flex-1">
        <!--
            Close button, show/hide based on off-canvas menu state.
  
            Entering: "ease-in-out duration-300"
              From: "opacity-0"
              To: "opacity-100"
            Leaving: "ease-in-out duration-300"
              From: "opacity-100"
              To: "opacity-0"
          -->
        <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
          <button type="button" class="-m-2.5 p-2.5">
            <span class="sr-only">Close sidebar</span>
            <svg
              class="h-6 w-6 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>

        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div
          class="flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6 pb-4"
        >
          <div class="flex h-16 shrink-0 items-center">
            <img
              class="h-8 w-auto"
              src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600"
              alt="Your Company"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Static sidebar for desktop -->
  <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-80 lg:flex-col">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div
      class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6 pb-4"
    >
      <div class="flex shrink-0 items-center pt-12">
        <img
          class=" w-auto rounded-full"
          src="https://placehold.co/220x220/png"
          alt="Your Company"
        />
      </div>
      <div class="flex-col">
        <h3 class="uppercase">Yazid Talbi</h3><h4>Product Designer</h4><p>
          I break down complex user experience problems to create integrity
          focussed solutions that connect billions of people.
        </p>
        <button class="relative inline-flex items-center space-x-2 px-6 py-2 bg-white text-black font-semibold rounded-full transition-all hover:bg-gray-100">
          <span>Contact me</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
          </svg>
          <span class="absolute inset-0 rounded-full border-2 border-transparent"
                style="border-image: linear-gradient(90deg, #E0B6F6, #B2CCFF) 1;"></span>
        </button>
        

<div class="flex items-center space-x-2">
  <span class="text-3xl font-bold">21+</span>
  <span class="text-lg instrument-serif-regular-italic ">Projects Completed</span>
 
</div><div class="flex items-center space-x-2">
  <span class="text-3xl font-bold">100%</span>
 <div> <div class="flex  ">
  {Array(5).fill().map(() => (
    <img src="../star.svg" alt="Star" class="w-6 h-6" />
  ))}
</div><div class="text-lg instrument-serif-regular-italic ">Client Satisfaction</div>
 </div> 
</div>

<Exemple />
      </div>
    </div>
  </div>

  <div class="lg:pl-80">
    <!-- <div
      class="sticky top-0 z-40 flex h-20 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 sm:gap-x-6 sm:px-6 lg:px-8"
    >
      <div
        class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6 place-content-end"
      >
        <Header />
      </div>
    </div> -->

    <div class="">
      <slot />
    </div>
  </div>

</div>
